[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
isort = "*"
mypy = "*"
black = "*"
bandit = "*"
flake8 = "*"
jupyterlab = "*"
notebook = "*"

[packages]
pandas = "*"
sentence-transformers = "*"
librosa = "*"
pydub = "*"
matplotlib = "*"
ipython = "*"
weaviate-client = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
